body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-left: 30px;
    margin-top: 90px;
    color: black;
}

.one, .two, .three, .four {
    border: 2px solid brown;
    border-radius: 60px;
    padding: 40px;
    background: whitesmoke;
}

.section2 {
    margin-left: 30px;
}

.progress-container {
    margin-bottom: 20px;
}

.progress-bar {
    height: 30px;
    background-color: #76c7c0;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.para {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    color: rgb(224, 178, 178);
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 2px 8px;
    

}

#downbtn {
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

#downbtn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
